:root {
  /* Colors — Primary */
  --color-primary: #dfecc6;
  --color-secondary: #485c11;

  /* Colors — Neutrals */
  --color-neutral-50: #000000;
  --color-neutral-100: #6f6f6f;
  --color-neutral-200: #e9e9e9;
  --color-neutral-300: #ffffff;
  --color-neutral-400: #666666;
  --color-neutral-500: #929292;
  --color-neutral-600: #171717;
  --color-neutral-700: #8e9c78;

  /* Colors — Backgrounds */
  --color-bg: #ffffff;
  --color-bg-1: #8e9c78;
  --color-bg-2: #000000;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #ffffff;
  --color-text-2: #6f6f6f;
  --color-text-3: #485c11;
  --color-text-4: #929292;

  /* Typography — Families */
  --font-body: 'DM Sans', sans-serif;
  --font-body: '__nextjs-Geist', sans-serif;
  --font-mono: 'Roboto Mono', sans-serif;
  --font-font-3: 'Crimson Text', sans-serif;

  /* Typography — Scale */
  --font-size-153.6: 153.6px;
  --font-size-76.8: 76.8px;
  --font-size-60: 60px;
  --font-size-38.4: 38.4px;
  --font-size-30: 30px;
  --font-size-25.7: 25.7px;
  --font-size-22.8: 22.8px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-15: 15px;
  --font-size-14: 14px;
  --font-size-12: 12px;

  /* Spacing */
  --spacing-2: 2px;
  --spacing-40: 40px;
  --spacing-50: 50px;
  --spacing-60: 60px;
  --spacing-80: 80px;
  --spacing-104: 104px;
  --spacing-120: 120px;
  --spacing-129: 129px;
  --spacing-140: 140px;
  --spacing-240: 240px;
  --spacing-300: 300px;
  --spacing-400: 400px;

  /* Border Radius */
  --radius-md: 6px;
  --radius-lg: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;
  --radius-xl: 24px;
  --radius-full: 30px;
  --radius-full: 50px;
  --radius-full: 9999px;

  /* Box Shadows */
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 6px 30px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px -4px 20px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 2px 8px 0px;
  --shadow-sm: rgb(23, 23, 23) 0px 0px 0px 1px, rgba(255, 255, 255, 0.14) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.24) 0px 16px 32px -8px;
  --shadow-sm: rgb(23, 23, 23) 0px 0px 0px 1px;
  --shadow-xs: rgba(0, 0, 0, 0.02) 0px 1px 1px 0px, rgba(0, 0, 0, 0.04) 0px 4px 8px -4px, rgba(0, 0, 0, 0.06) 0px 16px 24px -8px;

  /* Original Site Variables */
  /* — colors — */
  --tw-inset-ring-shadow: 0 0 #0000;
  --tw-ring-offset-shadow: 0 0 #0000;
  --color-white: #fff;
  --tw-ring-shadow: 0 0 #0000;
  --tw-border-style: solid;
  --tw-ring-offset-width: 0px;
  --color-black: #000;
  --tw-ring-offset-color: #fff;
  /* — spacing — */
  --spacing: .25rem;
  /* — typography — */
  --default-font-family: "DM Sans", "DM Sans Fallback";
  --font-crimson: "Crimson Text", "Crimson Text Fallback";
  --font-roboto-mono: "Roboto Mono", "Roboto Mono Fallback";
  --font-weight-bold: 700;
  --font-dm-sans: "DM Sans", "DM Sans Fallback";
  --default-mono-font-family: "Roboto Mono", "Roboto Mono Fallback";
  /* — shadows — */
  --tw-inset-shadow-alpha: 100%;
  --tw-shadow-alpha: 100%;
  --tw-shadow: 0 0 #0000;
  --tw-inset-shadow: 0 0 #0000;
  /* — other — */
  --tw-translate-z: 0;
  --blur-lg: 16px;
  --default-transition-duration: .15s;
  --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  --tw-translate-y: 0;
  --tw-translate-x: 0;
  --ease-out: cubic-bezier(0, 0, .2, 1);
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}